<header class="header_compact">
    <section class="description">
        <div class="header-box">
            <a href="{{ site.url }}/" class="description__link">
                <h1>{{ site.title }}</h1>
            </a>
        </div>

        <div class="header-box site-logo">
            <a href="{{ site.url }}/" class="description__link">
                <img class="description__link__img" src="{{site.logo_img}}" />
            </a>
        </div>

        <div class="header-box">
            <div class="icons">
                {% if site.github_username != nil %}
                <a href="https://github.com/{{site.github_username}}">
                    <i class="fa-brands fa-github"></i>
                </a>
                {% endif %}
                {% if site.huggingface_username != nil %}
                <a href="https://huggingface.co/{{site.huggingface_username}}">
                    <i class="fa-solid fa-face-smile-beam"></i>
                </a>
                {% endif %}
                {% if site.twitter_username != nil %}
                <a href="http://twitter.com/{{site.twitter_username}}">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                {% endif %}
                {% if site.email != nil %}
                <a href="mailto:{{site.email}}">
                    <i class="fa-solid fa-envelope"></i>
                </a>
                {% endif %}
            </div>
        </div>
    </section>
</header>